@media (max-width:1024px) {
  img.desktop {
    display: none;
  }

  img.mobile {
    display: block;
  }

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
    float: left;
    border: none;
    padding: 17px 0 17px 7px;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-brand {
    padding: 12px 0 0 3px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-default {
    .navbar-toggle {
      background-color: transparent;

      .icon-bar {
        background-color: #ed7a27;
        height: 4px;
      }

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }

    .navbar-brand {
      img {
        width: auto;
        max-width: 100%;
      }
    }

    .navbar-nav {
      li.dropdown {
        a {
          .fa {
            padding-left: 0;
            margin: 0 20px;
          }
        }
      }
    }
  }

  .navbar-collapse {
    border: none;
    box-shadow: none;
    margin-left: -16px !important;
  }

  .collapsing {
    position: absolute !important;
    z-index: 20;
    width: 100%;
    top: 50px;
  }

  .collapse.in {
    display: block;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 50px;
  }

  .navbar-collapse {
    max-height: none !important;
  }

  .navbar.hover-navbar {
    padding-bottom: 0;
  }

  .navbar {
    // padding: 10px 20px;
    padding: 8.5px 0;

    .navbar-header {
      padding: 0 20px;
    }

    ul.nav {
      margin-top: 38px;
      padding-bottom: 0;
      margin-bottom: 0;
      max-width: 84.4%;
      background-color: #00447e;
      @include linearGradient(#063f76,#0e68a3);

      li.mobile-nav {
        display: block;
      }

      li.dropdown.open {
        > a {
          background: none;
          background-color: transparent !important;
          padding-left: 26px;
          padding-right: 27px;
        }

        ul.dropdown-menu {
          border-top: 1px solid #2675a6;
          background: none;
        }
      }

      li.dropdown {
        &:hover {
          background: none;
        }

        ul.dropdown-menu {
          background: none;

          li {
            a {
              line-height: 30px !important;
              margin: 0 0 0 35px !important;
            }
          }
        }
      }

      li.open {
        a {
          border: none;
          color: black;

          &:focus,
          &:hover {
            background-color: white;
            font-weight: 600;
          }
        }
      }

      li {
        border-bottom: 1px solid #2675a6;

        &:hover {
          @include linearGradient( #ed7a27,#f39d29);
        }

        a {
          color: #ffffff;
          font-family: 'Lato';
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          padding: 14px 0;
          letter-spacing: 0.35px;
          word-spacing: 2.4px;
          padding-left: 26px;
          padding-right: 27px;

          &:before {
            display: none;
          }

          &:after {
            display: none;
          }

          &:hover {
            font-weight: 600;
            color: white;

            &:after {
              display: none;
            }
          }

          sup {
            top: 0;
            margin-left: 8px;
          }
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
@media (max-width:768px) {
  .top-header {
    line-height: 29px;
    text-align: center;

    .more-info {
      line-height: 30px;

      span {
        letter-spacing: 0.9px;
      }
    }

    ul {
      display: none;
    }
  }

  .img.mobile {
    width: 225px;
  }

  .social-bread {
    ul {
      padding-top: 11px;
      padding-left: 11px;

      li {
        a {
          line-height: 37px;
        }
      }
    }

    .social-links {
      text-align: left;
      margin-bottom: 29px;

      a {
        float: none;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: bottom;
        margin-left: 0;
      }

      span {
        padding-top: 0;
        padding-left: 11px;
      }
    }
  }

  .statistic-info-detail {
    ul {
      margin: 3px 0;

      li {
        span {
          font-size: 14px;
          letter-spacing: 0.6px;
        }

        .fa {
          font-size: 20px;
        }
      }

      li:nth-child(1) {
        width: 100%;
        float: none;
      }

      li:nth-child(2) {
        display: none;
      }

      li:nth-child(3) {
        display: none;
      }
    }
  }

  header {
    .blur-text {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 112px;

      h1 {
        display: none;
      }

      h2 {
        display: none;
      }

      &:before {
        display: none;
      }

      .outlinebtn {
        // margin-left: 4px;
        margin-bottom: 10px;
        width: 189px;

        &:last-child {
          a {
            .fa {
              font-size: 17px;
            }
          }
        }

        a {
          font-size: 12px;
          padding: 22px;
          letter-spacing: 0.5px;

          .fa {
            margin-left: 12px;
            font-size: 16px;
          }
        }

        &:last-child {
          a {
            @include linearGradient(#ed7a27, #f39d29);
            color: white;

            .fa {
              color: white;
            }
          }
        }
      }
    }

    .statistic-info {
      ul {
        margin: 3px 0;

        li {
          line-height: 39px;

          span {
            font-size: 14px;
            letter-spacing: 0.6px;
          }

          .fa {
            font-size: 20px;
          }
        }

        li:nth-child(1) {
          width: 100%;
          float: none;
          padding-right: 19px;
        }

        li:nth-child(2) {
          display: none;
        }

        li:nth-child(3) {
          display: none;
        }
      }
    }
  }

  main {
    .search-block {
      padding-bottom: 20px;

      .filter-container {
        div.zoen {
          padding-bottom: 10px;
        }

        .search-contrainer {
          margin: 0 15px;
          display: none;
        }

        h1 {
          display: block;
          text-align: center;
          margin-top: 0;
          color: #242424;
          font-family: 'Lato';
          font-size: 24px;
          /* Text style for "Mooie" */
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 28px;
          margin-bottom: 16px;

          span {
            font-weight: 600;
          }
        }

        h2 {
          display: block;
          text-align: center;
          letter-spacing: 0.6px;
          margin-top: 13px;
          color: #898989;
          font-family: 'Lato';
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 23px;
          padding: 0 15px;
          line-height: 21px;
          letter-spacing: 0.8px;
        }

        h2.open-filter {
          display: block;
          border: 1px solid #edf0f5;
          background-color: #ffffff;
          line-height: 42px;
          margin: 15px;
          text-align: left;
          color: #898989;
          font-family: 'Lato';
          font-size: 12px;
          font-weight: 300;
          padding-right: 10px;
          padding-left: 10px;
          letter-spacing: 0.5px;
          margin-bottom: 27px;

          .fa {
            font-size: 15px;
            margin-top: 13.5px;
            margin-bottom: 13.5px;
            float: right;
          }
        }

        ul.tags {
          display: block;
          padding: 0;
          margin: 0;
          list-style: none;
          display: block;
          overflow: hidden;
          margin-bottom: 28px;
          padding: 0 15px;

          li {
            margin-right: 12px;
            float: left;
            display: inline-block;
            border-radius: 15px;
            border: 1px solid #edf0f5;
            background-color: rgba(0, 0, 0, 0);
            color: #898989;
            font-family: 'Lato';
            font-size: 12px;
            font-weight: 300;
            line-height: 29px;
            padding: 0 8.7px;

            .fa {
              margin-left: 10px;
              font-size: 10px;
            }
          }

          li.delete-filters {
            border: none;
            padding: 0;
            margin-right: 0;

            a {
              color: #ed7a27;
              font-family: 'Lato';
              font-size: 12px;
              font-weight: 700;
              line-height: 31px;
              letter-spacing: 0.4px;
            }
          }
        }
      }

      .result-container {
        margin: 0 13px;

        h1 {
          display: none;
        }

        h2 {
          display: none;
        }

        ul.tags {
          display: none;
        }

        .navigation {
          display: none;

          span {
            display: none;
          }
        }

        .navigation.mobile-navigation {
          display: block;
          text-align: center;

          ul {
            float: none;
          }
        }

        .results-list {
          .result-item {
            &:hover {
              .overlay {
                height: 36px;
              }
            }

            h3 {
              line-height: 36px;
              text-align: center;
              padding-left: 0;
            }

            .overlay {
              height: 36px;
            }

            .price-block {
              width: 96px;
              height: 68px;
              background-size: cover;
              top: 13px;
              right: 14px;

              h4 {
                font-size: 13px;
                margin: 0;
                padding: 0 3px;
                margin-top: 22px;
                line-height: 16px;
              }
            }
          }
        }
      }
    }

    .detail-map {
      text-align: center;
      background-color: #fff;
      margin-bottom: 0;

      #map {
        width: 100%;
        position: relative !important;
        float: none;
        height: 383px;

        &:before {
          display: none;
        }
      }

      h1 {
        font-size: 24px;
        margin: 0;
        letter-spacing: 1.1px;
      }

      h2 {
        font-size: 18px;
        line-height: 21px;
        margin-top: 13px;
        margin-bottom: 16px;
      }

      ul {
        margin-bottom: 25px;

        li {
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.6px;
          padding: 0 15px;
        }
      }
    }

    .detail-info-hotel {
      padding-top: 26px;
      padding-bottom: 45px;
      letter-spacing: 1.1px;

      .col-xs-12 {
        padding: 0;
      }

      h1 {
        font-size: 24px;
        padding: 0 20px;
        letter-spacing: 1.2px;
        line-height: 28px;
        margin-bottom: 0;
      }

      h2 {
        font-size: 18px;
        padding: 0 20px;
        font-size: 18px;
        margin-top: 11px;
        line-height: 22px;
        margin-bottom: 15px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.5px;
        padding: 0 10px;
        text-align: center;
        margin-bottom: 42px;
      }

      .owl-dots {
        display: none;
      }

      ul {
        li.with-num {
          &:before {
            display: none;
          }

          span {
            display: none;
          }
        }
        // margin: 0 -15px;
        // li {
        //   width: 100%;
        //   display: none;
        //
        //   &:nth-child(3) {
        //     display: block;
        //   }
        //
        //   img {
        //     min-height: 260px;
        //   }
        // }
      }
    }

    .detail-mobile-button {
      display: block;
      position: relative;
      text-align: center;
      padding: 98.5px 0;

      &:before {
        content: '';
        z-index: 1;
        position: absolute;
        background-color: #555555;
        @include linearGradient(#063f76,#f39d29);
        opacity: 0.35;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }

      .outlinebtn {
        display: inline-block;
        padding: 2px;
        border-radius: 100px;
        vertical-align: middle;
        transition: all 0.3s linear;
        position: relative;
        z-index: 2;
        @include linearGradient(#eeeeee, #ffffff);

        a {
          letter-spacing: 0;
          color: #242424;
          font-family: 'Lato';
          font-size: 13px;
          font-weight: 700;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          text-overflow: ellipsis;
          background-color: white;
          border: none;
          width: 185px;
          padding: 20px 22px;
          text-align: left;
          border-radius: 100px;
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          transition: all 0.3s linear;

          .fa {
            transition: all 0.3s linear;
            color: #242424;
            margin-left: 15px;
          }
        }

        &:hover {
          // color: #fff;
          @include linearGradient(#eeeeee, #ffffff);
          transition: all 0.3s linear;

          a {
            transition: all 0.3s linear;
            background: none;
            // color: white;
            text-decoration: none;

            i {
              // color: white;
              transition: all 0.3s linear;
            }
          }
        }
      }
    }

    .detail-top {
      text-align: center;
      padding-top: 64px;
      padding-bottom: 76px;
      background-color: #edf0f5;

      &:before {
        display: none;
      }

      .detail-bg {
        display: none;
      }

      .outlinebtn {
        display: none;
      }

      .price-big-bg {
        float: none;
        text-align: center;
        margin: 0 auto;
        width: 131px;
        height: 94.4px;
        background-size: contain;

        h4 {
          font-size: 14px;
          margin-top: 14px;
          padding-top: 37px;
          margin-bottom: 0;
          letter-spacing: 0.4px;
          line-height: 18px;

          span {
            line-height: 18px;
          }
        }
      }

      h1 {
        font-size: 24px;
        color: #000000;
        padding: 0 20px;
        letter-spacing: 1.2px;

        span {
          line-height: 30px;
        }
      }

      h2 {
        font-size: 18px;
        color: #000000;
        margin-top: 12px;
        letter-spacing: 0.6px;
      }
    }

    .top-main {
      padding-top: 30px;

      h1 {
        font-size: 24px;
        word-break: break-all;
        padding: 0 37px;
        line-height: 29px;
        margin-top: 16px;
        letter-spacing: 1px;
      }

      h2 {
        font-size: 18px;
        margin-top: 12px;
        line-height: 21px;
        letter-spacing: 0.7px;
        padding: 0 15px;
        margin-bottom: 23px;
      }

      a.lees-hotels {
        padding-top: 20px;
        padding-bottom: 0;
      }

      ul.row-hotels {
        margin: 0 12.5px;

        &:last-child {
          li {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        li {
          margin-bottom: 31px;
          width: 100%;

          &:nth-child(2) {
            margin: 0 0 28px;
          }

          h3 {
            line-height: 36px;
            letter-spacing: -0.2px;
            text-align: center;
            padding-left: 0;
          }

          .overlay {
            height: 36px;
          }

          .price-block {
            width: 96px;
            height: 68px;
            background-size: cover;
            top: 13px;
            right: 14px;

            h4 {
              font-size: 13px;
              margin: 0;
              padding: 0 3px;
              margin-top: 22px;
              line-height: 16px;
            }
          }

          &:hover {
            .overlay {
              height: 36px;
            }
          }
        }
      }
    }

    .stars {
      padding-top: 54px;
      padding-bottom: 12px;

      ul {
        li {
          margin-bottom: 26px;
          width: 100%!important;

          h3 {
            letter-spacing: 0.9px;
            margin-bottom: 9px;
          }

          p {
            @include line-ellipses(2,24px);
            letter-spacing: 0.4px;
            /* padding: 0 52px; */
            padding: 0 10px;
          }
        }
      }
    }

    .additional-main.additional-main-detail {
      h1 {
        padding: 0 13px;
      }

      .outlinebtn {
        a {
          @include linearGradient(#ed7a27, #f39d29);
          padding: 18px 20.68px;
          font-size: 12px;
          color: white;

          .fa {
            color: white;
          }
        }
      }
    }

    .additional-main {
      padding-top: 0;

      .outlinebtn {
        margin-bottom: 37px;

        a {
          padding: 29px 29.5px;
          letter-spacing: 0.7px;
        }
      }

      h1 {
        font-size: 24px;
        margin-top: 32px;
        padding: 0 15px;
        letter-spacing: 1.6px;
        line-height: 30px;
        margin-bottom: 24px;
      }
    }

    .bottom-main {
      padding-bottom: 55px;

      .bottom-main-container {
        margin-bottom: 0;
        padding-top: 21px;
      }

      h1 {
        margin-top: 16px;
        letter-spacing: 1px;
        font-size: 24px;
        line-height: 29px;
        padding: 0 30px;
      }

      h2 {
        font-size: 18px;
        padding: 0 15px;
        letter-spacing: 0.5px;
        margin-bottom: 21px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.5px;
        padding: 0 15px;
        margin-bottom: 10px;
      }

      .outlinebtn.first-button {
        a {
          @include linearGradient(#063f76, #0e68a3);
          color: white;

          .fa {
            color: white;
          }
        }
      }

      .outlinebtn {
        margin: 10px 0 0;

        a {
          padding: 20.5px 5px;
          letter-spacing: 0.5px;
          font-size: 12px;
          width: 189px;
        }

        &:first-child {}
      }
    }
  }

  footer {
    .social-buttons {
      visibility: hidden;
    }

    .footer-links {
      border-top: 1px solid #0e68a3;
      margin-top: 47px;
    }

    .bottom-footer {
      padding-top: 43px;
      text-align: center;
      padding-bottom: 54px;

      .col-xs-12.text-right {
        text-align: center;
      }

      span {
        padding-bottom: 22px;
        display: block;
      }

      ul {
        margin-bottom: 15px;

        li {
          line-height: 36px;
          display: block;

          &:nth-child(2) {
            border: none;
            margin: 0;
          }
        }
      }
    }

    .footer-links-container {
      margin: 0;
      border: 0;
      padding-top: 41px;
      padding-bottom: 41px;

      .firm-info {
        margin-top: 7px;
        margin-left: 12px;

        h3 {
          line-height: 37px;
          margin-bottom: 0;
          margin-left: 34px;
        }

        span.email {
          letter-spacing: 0.2px;
        }
      }

      .row {
        .col-xs-12 {
          &:nth-child(2) {
            ul {
              margin-bottom: 0;
            }
          }
        }
      }

      img {
        margin-left: 10px;
      }

      ul {
        padding-left: 12px;
        margin-bottom: 14px;

        li {
          a {
            letter-spacing: 0.5px;

            &:before {
              padding-right: 9px;
            }
          }
        }

        li.empty {
          display: none;
        }

        li.disable-mobile {
          display: none;
        }

        li.disable-desktop {
          display: block;
          margin-top: 15px;
        }
      }
    }

    .footer-info {
      .work-info-container {
        padding-top: 53px;
        display: block;
        margin: 0;

        img {
          margin: 0;
          float: none;
        }

        .work-info {
          text-align: center;
          float: none;

          h3 {
            margin-top: 25px;
          }

          span.tel {
            letter-spacing: 1.8px;
            margin-bottom: 5px;
          }

          span.work-hours {
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .social-bread ul {
    padding-left: 0;
  }

  .navbar .navbar-header {
    padding: 0;
  }

  .navbar-default {
    .navbar-toggle {
      padding-left: 0;
      padding-right: 10px;
    }
  }

  .navbar-collapse {
    margin-left: 0 !important;
  }

  .social-bread .social-links span {
    padding-left: 0;
  }

  .top-header {
    text-align: left;
  }

  .footer-links-container {
    .col-sm-6 {
      min-height: 302px;
    }
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .footer-links-container {
    .col-sm-6 {
      min-height: 302px;
    }
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

  .social-bread ul {
    padding-left: 0;
  }

  .social-bread .social-links span {
    padding-left: 0;
  }

  .top-header {
    text-align: left;
  }

  .navbar .navbar-header {
    padding: 0;
  }

  .navbar-default {
    .navbar-toggle {
      padding-left: 0;
      padding-right: 10px;
    }
  }

  .navbar-collapse {
    margin-left: 0 !important;
  }
}
